# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*

client/node_modules
client/package.json
client/package-lock.json
client/dist
client/.vscode
client/.idea

server/node_modules
server/package.json
server/package-lock.json
server/.vscode
server/.idea
server/src/config

.DS_Store

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*